 
{% extends "website/home.html"%}
{% load i18n %}
{# template nouvelles/accueilNouvelles #}
{% load i18n %}
{% block pub %}	
{% endblock %}

{% block title %} {% trans "Nouvelles - Chalet Djan é Glyâmo" %} {% endblock %}
{% block description %}{% trans "Les dernières nouvelles du chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo, Nouvelles, Blog, Chalet Des Alpes" %}{% endblock %}


{% block content %} {# Taille du bloc 498px #}

 <h1>{% trans "Les dernières nouvelles" %} </h1>
{% for nouvelle in dernieres_nouvelles %}
    <div class="nouvelle">
        <h3>{{ nouvelle.titre }}</h3>
        <p>{{ nouvelle.paragraphe|truncatewords_html:80 }}</p>
        <p><a href="{% url "nouvelles.views.read" nouvelle.id %}">Lire la suite</a> </p>
    </div>
{% empty %}
    <p>Aucun article</p>
{% endfor %}

 {% endblock %}  

 {% block nouvelles %}
{% endblock %}




