 
{% extends "website/home.html"%}
{% load i18n %}
{# template AppartementMartna#}

{% block title %} {% trans "Appartement Martnà - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "L'appartement Martnà du  chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "chalet Djan é Glyâmo, Appartement, Martnà," %}{% endblock %}

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgAppartementMartna.jpg' %}" alt="" width="495" />  <!--height="213" -->

 {% endblock %}  
