{% extends "website/home.html"%}
{# template AppartementDjanEGlyamo#}
{% load i18n %}

{% block title %} {% trans "Appartement Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "Appartement principal du chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo" %}{% endblock %}

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{# redefinition du bloc navigation #}

 {% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgAppartementDjanEGlyamo.jpg' %}" alt="" width="495" />  <!--height="213" -->
 
 {% endblock %} 
