{% extends "website/home.html"%}
{% load i18n %}
{# template AppartementGlyamo #}

{% block title %} {% trans "Appartement Mestyé - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "L'appartement Mestyé du chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "chalet Djan é Glyâmo, Appartement, Mestyé, " %}{% endblock %}

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}



{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgAppartementMestye.jpg' %}" alt="" width="495" />  <!--height="213" -->
 {% endblock %} 
