{% extends "website/home.html"%}
{% load i18n %}
{# template coteCosy#}

{% block title %} {% trans "Côté cosy - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "Le côté cosy du chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo, Savoie,  Cosy, Élégance à l'état pur" %}{% endblock %}


{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgCoteCosyDuChalet.jpg' %}" alt="" width="495" />  <!--height="213" -->
 

 {% endblock %}  
