{% extends "base.html"%}
{% load static %}
{% load i18n %}
{% load chaletDesAlpesExtras %}

{% block header-languageSelector %}
	<div id=languageSelector> 
		{% if pageId != None %}
			{% if LANGUAGE_CODE == 'fr' %} 
				<a  id=language href="{% url 'website.views.activate' 'en' pageId %}"> English version </a> 
			{% else %} 
			<a  id=language href="{% url 'website.views.activate' 'fr' pageId %}"> Version française </a>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}


{% block pub %}	
<div class="pub">
	{% trans "Vos vacances en chalet traditionnel des Alpes - Locations toute l'année" %}
</div>
{% endblock %}


{###############################################################  NAV ###############################################################}
{% block nav %}	
			<li ><a class={{pageId|isActive:0}} href="{% url 'website.views.home' %}">{% trans "Accueil" %}</a></li>
			<li ><a class={{pageId|isActive:1}} href="{% url 'website.views.appartementDjanEGlyamo' %}">{% trans "Appartement <br/> Djan é Glyâmo" %}</a></li>		
			<li ><a class={{pageId|isActive:2}} href="{% url 'website.views.appartementMestye' %}">{% trans "Appartement Mestyé" %}</a></li>
			<li ><a class={{pageId|isActive:3}} href="{% url 'website.views.appartementMartna' %}">{% trans "Appartement Martnà" %}</a></li>
			<li ><a class={{pageId|isActive:4}} href="{% url 'website.views.plusDuChalet' %}">{% trans "Les plus du chalet" %}</a></li>
			<li ><a class={{pageId|isActive:5}} href="{% url 'website.views.coteCosy' %}">{% trans "Le côté cosy du chalet" %}</a></li>
			<li ><a class={{pageId|isActive:6}} href="{% url 'website.views.aProximite' %}">{% trans "À proximité" %}</a></li>
			<li ><a class={{pageId|isActive:7}} href="{% url 'website.views.pourVenir' %}">{% trans "Pour venir au chalet" %}</a></li>
			<li ><a class={{pageId|isActive:8}} href="{% url 'website.views.reservations' %}">{% trans "Réservations" %}</a></li>
			<li ><a class={{pageId|isActive:9}} href="{% url 'website.views.contact' %}">{% trans "Contact" %}</a></li>
			
			{# {% if perms.nouvelles.add_nouvelle %}  #}
			{# <li ><a class={{pageId|isActive:11}} href="{% url 'nouvelles.views.createNouvelle' %}">Créer une nouvelle</a></li> #}
				{# {% endif %} #}
			{% if perms.website.add_lockedDate %}
			<li ><a class={{pageId|isActive:15}} href="{% url 'website.views.calendrier' 3 %}">Calendrier Martnà</a></li> {% endif %}
			{% if perms.website.add_lockedDate %}
			<li ><a class={{pageId|isActive:16}} href="{% url 'website.views.calendrier' 1 %}">Calendrier <br/> Djan é Glyâmo</a></li> {% endif %}
			{% if perms.visites.add_visitor %}
			<li ><a class={{pageId|isActive:17}} href="{% url 'visites.views.dernieresvisites' %}">Visites</a></li> {% endif %}			
{% endblock %}	
	 


{##########################################################      MAIN      ##########################################################}
{% block sections %}
{# Nous sommes sur la vue {{view_name}} #}
{% if pageId == None %}
{% else %}{% if pageId < 10 %} {% if perms.website.add_section %}
<a href="{% url 'website.views.creationSectionId' pageId 1 %}" ><button>Ajouter une section ici</button></a>{% endif %}{% endif %}{%endif %}
{% if sections %}
	{% for section in sections %}
		{% if LANGUAGE_CODE == 'fr' or section.translated  %} {# if the section is not translated, we don' show it in the En version #}
			<div class="section">
				{% if section.titre %} <h3>{{ section.titre }}</h3> {% endif %}
				 {# <p>Je suis en position {{ section.position }}</p> #}
				{% if section.paragraphe %}{{ section.paragraphe|linebreaks }} {% endif %}
				
					<p><a href="{{section.link}}" class="linkMain"> {{section.linkText}}</a> </p>
				
				{% if section.image %}
					<img alt="{{ section.legende }}" src="{{MEDIA_URL}}{{ section.image }}" width="495"/>
					<div class="legende">{{ section.legende}}</div>
				{% endif %}
			</div>
			{% if perms.website.change_section %}
			<a href="{% url 'website.views.modifySectionText' pageId section.position 'fr'%}" > <button>Modifier texte fr</button>
			<a href="{% url 'website.views.modifySectionText' pageId section.position 'en'%}" > <button>Modifier texte en</button>
			<a href="{% url 'website.views.modifySectionImage' pageId section.position %}" > <button>Changer image</button></a>
			{% endif %}

			{% if perms.website.add_section %}{% with posInc=section.position|add:"1" %} 
			<a href="{% url 'website.views.creationSectionId' pageId posInc %}" ><button>Ajouter une section ici</button></a>
			{% endwith %}{% endif %}
		
			{% if perms.website.delete_section  %}
			<a href="{% url 'website.views.deleteSection' pageId section.position %}" ><button>Supprimer section</button></a>
			{% endif %}
			{% if perms.website.change_section %}
				{% if section.translated %} {% else %} <p><strong> section non traduite</strong></p> {% endif %}
				{% if section.modifiedInFr %} <p><strong> Section modifiée en français</strong></p>{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %} 
{% endblock %}






