{% extends "website/home.html"%}
{% load i18n %}
{# template plusDuChalet#}

{% block title %} {% trans "Les plus - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "Les plus du chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo, Amour, charme, Féérie" %}{% endblock %}<--! On se calme dans les meta -->

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgLesPlusDuChalet.jpg' %}" alt="" width="495" />  <!--height="213" -->

 {% endblock %}   
