{% extends "website/home.html"%}
{% load i18n %}
{# template pourVenir#}

{% block title %} {% trans "Pour venir - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "Comment venir au chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo,Savoie, Alpes,  Venir, Itinéraire, Plan, Carte" %}{% endblock %}

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgPourVenirAuChalet.jpg' %}" alt="" width="495" />  <!--height="213" -->
 
 <h1>{% trans "Trouvez nous sur google maps" %}</h1>
 
 
 <iframe width="496" height="496" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=chalet+djan+é+glyâmo+73700+les+chapelles&key=AIzaSyB_yQUrNGFZ7ryXRfmPBH7yZ6K7ARJWwPQ">
</iframe> 
 

 
 {% endblock %}  

{% comment %}
######## carte personalisee sur Gmaps  ########
 <iframe src="https://mapsengine.google.com/map/embed?mid=zESTdjNpueiQ.kNKYMytUlsAU" width="496" height="496"></iframe>			
{% endcomment %}			
