{% extends "website/home.html"%}
{% load i18n %}
{# template pourVenir#}

{% block title %} {% trans "Pour venir - Chalet Djan é Glyâmo" %}{% endblock %}
{% block description %}{% trans "Comment venir au chalet Djan é Glyâmo" %}{% endblock %}
{% block keywords %}{% trans "Chalet Djan é Glyâmo,Savoie, Alpes,  Venir, Itinéraire, Plan, Carte" %}{% endblock %}

{% comment %}
{% block pub %}	
{% endblock %}
{% endcomment %}

{% block content %} {# Taille du bloc 498px #}
 {% load static %} 
 <img src="{% static 'logos/imgPourVenirAuChalet.jpg' %}" alt="" width="495" />  <!--height="213" -->
 
 {% endblock %}  
